@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#parts,
#reactor {
	display: table;
}

#parts .part,
#reactor .tile {
	font-size: 1px;
	padding: 0;
	border: none;
	box-shadow: none;
	-webkit-appearance: none;
	height: 32em;
	width: 32em;
	float: left;
	position: relative;
	overflow: hidden;
}

#parts .part {
	background: transparent;
}


#reactor .tile {
	font-size: 2px;
	border: 2em solid #4b5167;
}

#parts .part.active {
	outline: 2em dashed blue;
	outline-offset: -2em;
}

#parts .part:after,
#reactor .tile:after {
	font-size: 1px;
	height: 32em;
	width: 32em;
	content: " ";
	position: absolute;
	top: -2em;
	left: -2em;
	display: block;
	background: url("../img/sprites.png") left top no-repeat;
}

#parts .part:after {
	top: 0;
	left: 0;
}


#reactor .tile:after {
}

#reactor .tile.spent:after {
	filter: grayscale();
	-webkit-filter: grayscale();
}

  /* //////////////////////////
 // Cells
////////////////////////// */

/* Uranium */
#parts .part.part_uranium:after,
#reactor .tile.part_uranium:after {
	background-position: 0 -32px;
}

#parts .part.part_uranium2:after,
#reactor .tile.part_uranium2:after {
	background-position: -32px -32px;
}

#parts .part.part_uranium3:after,
#reactor .tile.part_uranium3:after {
	background-position: -64px -32px;
}

/* Plutonium */
#parts .part.part_plutonium:after,
#reactor .tile.part_plutonium:after {
}

#parts .part.part_plutonium2:after,
#reactor .tile.part_plutonium2:after {
}

#parts .part.part_plutonium3:after,
#reactor .tile.part_plutonium3:after {
}

/* Thorium */
#parts .part.part_thorium:after,
#reactor .tile.part_thorium:after {
}

#parts .part.part_thorium2:after,
#reactor .tile.part_thorium2:after {
}

#parts .part.part_thorium3:after,
#reactor .tile.part_thorium3:after {
}

  /* //////////////////////////
 // Cooling
////////////////////////// */

/* Vents */
#parts .part.part_vent:after,
#reactor .tile.part_vent:after {
	background-position: -96px -32px;
}


  /* //////////////////////////
 // Debug
////////////////////////// */
#reactor .heat {
	color: red;
	pointer-events: none;
	font-size: 9px;
}

#reactor .power {
	color: green;
	pointer-events: none;
	font-size: 9px;
}