@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: 'Jura', sans-serif;
	font-weight: 600;
	font-size: 16px;
	background: #000204;
	color: #fff;
}

button {
	padding: 0;
	border: none;
	box-shadow: none;
	-webkit-appearance: none;
	font-family: 'Jura';
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Orbitron;
	font-weight: 900;
}

#main {
	display: flex;
	position: relative;
	margin: 4px;
	float: left;
}

#secondary {
	width: 221px;
}

#primary {
	width: 652px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

#main_header,
#parts_section .heading,
#stats_section .heading {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

#power_indicator,
#heat_indicator {
	border: 2px solid #000;
	position: relative;
	font-size: .8em;
	text-align: center;
	padding: .75em 1em;
	margin-bottom: 2px;
}

#money_wrapper,
#power_text,
#heat_text {
	position: relative;
	z-index: 2;
	color: #fff;
	text-shadow:
		1px 0 0 rgba(0, 0, 0, 1),
		0 1px 0 rgba(0, 0, 0, 1),
		-1px 0 0 rgba(0, 0, 0, 1),
		0 -1px 0 rgba(0, 0, 0, 1),
		1px 1px 0 rgba(0, 0, 0, 1),
		-1px -1px 0 rgba(0, 0, 0, 1),
		1px -1px 0 rgba(0, 0, 0, 1),
		-1px 1px 0 rgba(0, 0, 0, 1)
		;
	font-family: monospace;
}

#power_percentage,
#heat_percentage {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

#money_wrapper {
	background: #59c435;
	color: #fff;
	font-size: .8em;
	text-align: center;
	padding: .75em 1em;
	border: 2px solid #198405;
}

#heat_percentage {
	background-color: #f00;
}

#power_percentage {
	background-color: #33a5c6;
}

#parts,
#parts > menu,
#parts > menu > menu,
#reactor {
	display: table;
}

#parts_section,
#stats_section,
#tooltip_nav,
#reactor_upgrades {
	border: 10px solid #eee;
	border-image: url("../img/border_bg.png") 10 10 stretch;
	margin: 2px 0 0 2px;
	background: #b2b2b2;
	background-clip: padding-box;
}

#power_section,
#heat {
	margin-bottom: 4px;
}

#reduce_heat,
#sell {
	display: block;
	width: 100%;
}

#tooltip_nav {
	padding: 4px;
	height: 108px;
}

#parts_section .part .image,
#upgrades .image,
#reactor .tile {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 64px;
	vertical-align: top;
}

#parts_section .part .image,
#reactor .tile {
	height: 32px;
	width: 32px;
}

#upgrades .image {
	height: 100%;
	width: 100%;
}

#parts_section .part {
	background: transparent;
	margin-right: 4px;
}

#parts_section .part:nth-child(5n) {
	margin-right: 0;
}

#parts_section .part.unaffordable .image {
	opacity: .5;
}

#parts_section .part.active {
	outline: 2em dashed blue;
	outline-offset: -2em;
}

#parts_section .part .image:after,
#upgrades .image:before,
#upgrades .image:after,
#reactor .tile:after {
	height: 32px;
	width: 32px;
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	/*background: url("../img/sprites.png") left top no-repeat;*/
	background-position: left top;
	background-repeat: no-repeat;
}

#parts_section .part:after {
	top: 0;
	left: 0;
}

  /* //////////////////////////
 // Reactor
////////////////////////// */

#reactor_section .heading {
	margin-bottom: 14px;
}

#reactor .tile {
	background-image: url("../img/tile.png");
}

#reactor .tile.disabled:after {
	opacity: .5;
}

#reactor .percent_wrapper_wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 2;
}

#reactor .category_coolant_cell .percent_wrapper,
#reactor .category_reflector .percent_wrapper,
#reactor .category_vent .percent_wrapper,
#reactor .category_cell .percent_wrapper {
	border: 1px solid black;
	background: black;
	position: absolute;
	bottom: 1px;
	left: 1px;
	right: 1px;
}

#reactor .category_coolant_cell .percent,
#reactor .category_reflector .percent,
#reactor .category_vent .percent,
#reactor .category_cell .percent {
	text-indent: 64px;
	white-space: nowrap;
	height: 2px;
}

#reactor .category_reflector .percent,
#reactor .category_cell .percent {
	background: #0f0;
	width: 100%;
}

#reactor .category_coolant_cell .percent,
#reactor .category_vent .percent {
	background: #f00;
	width: 0;
}

@keyframes explosion {
  0%   { background: url('../img/explosion_map.gif') 32px 0 no-repeat; } 
  100% { background: url('../img/explosion_map.gif') -192px 0 no-repeat; }
}

#reactor .tile.exploding:after {
  background: url('../img/sprites.png') -192px 0 no-repeat;
  animation: explosion .6s steps(7);
}

  /* //////////////////////////
 // Navs
////////////////////////// */

#nav {
	position: relative;
	height: 100%;
}

#stats_section button,
#nav button {
	border: 2px solid #888;
	padding: .25em 1em;
	margin: 0;

	border: 8px solid #eee;
	border-image: url("../img/button_border.png") 8 8 stretch;
	background-color: #7181a8;
	background-clip: padding-box;
	color: #fff;
	cursor: pointer;
	outline: none;
}

#nav button {
	margin-right: .25em;
}

#stats_section button:hover,
#stats_section button:focus,
#nav button:hover,
#nav button:focus {
	box-shadow:
		inset 0px 0px 8px 3px #7181a8;
	background-color: #fff;
	color: #000;
}

#main.paused #unpause {
	display: inline-block;
}

#controls_nav {
	position: absolute;
	top: 0;
	right: 0;
}

#pages_nav {
	position: absolute;
	bottom: 0;
	left: 0;
}

#controls_nav button {
	margin-bottom: 4px;
	clear: both;
	float: right;
}

#main.paused #pause,
#unpause,
#main.auto_disabled #disabled_auto,
#enable_auto {
	display: none !important;
}

#parts_nav .nav {
	overflow: hidden;
	white-space: nowrap;
	text-indent: 52px;
	width: 26px;
	height: 26px;
	position: relative;
}

#parts_nav .nav:after {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#show_normal {
	background: #9999ff url(../img/nav.png);
}

#show_normal:after {
	background: url(../img/nav_normal.gif);
}

#show_experimental {
	background: #ff0000 url(../img/nav.png);
}

#show_experimental:after {
	background: url(../img/nav_experimental.gif);
}

  /* //////////////////////////
 // Pages
////////////////////////// */

#main .page {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	left: 0;
	top: 0;
}

#main .showing {
	position: static;
}

#experimental_upgrades_section,
#upgrades_section {
}

#experimental_upgrades_section .heading,
#upgrades_section .heading {
	margin-bottom: 1em;
}

#experimental_upgrades_section > div,
#upgrades > div {
	margin-bottom: 1em;
}

  /* //////////////////////////
 // Cells
////////////////////////// */

#parts_section .cells {
	max-width: 11em;
}

#parts_section .cells .part,
#parts_section .cells .part:nth-child(5n) {
	margin-right: 40px;
}

#parts_section .cells .part:nth-child(3n) {
	margin-right: 0;
}

.part .description {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
}

#reactor .tile.spent:after {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* uranium */
#parts .part.part_uranium1 .image:after,
#reactor .tile.part_uranium1:after,
#upgrades .uranium .image:after,
#forceful_fusion .image:after {
	background-image: url("../img/cell_1_1.gif");
}

#parts .part.part_uranium2 .image:after,
#reactor .tile.part_uranium2:after {
	background-image: url("../img/cell_1_2.gif");
}

#parts .part.part_uranium3 .image:after,
#reactor .tile.part_uranium3:after {
	background-image: url("../img/cell_1_4.gif");
}

/* plutonium */
#parts .part.part_plutonium1 .image:after,
#reactor .tile.part_plutonium1:after,
#upgrades .plutonium .image:after {
	background-image: url("../img/cell_2_1.gif");
}

#parts .part.part_plutonium2 .image:after,
#reactor .tile.part_plutonium2:after {
	background-image: url("../img/cell_2_2.gif");
}

#parts .part.part_plutonium3 .image:after,
#reactor .tile.part_plutonium3:after {
	background-image: url("../img/cell_2_4.gif");
}

/* thorium */
#parts .part.part_thorium1 .image:after,
#reactor .tile.part_thorium1:after,
#upgrades .thorium .image:after {
	background-image: url("../img/cell_3_1.gif");
}

#parts .part.part_thorium2 .image:after,
#reactor .tile.part_thorium2:after {
	background-image: url("../img/cell_3_2.gif");
}

#parts .part.part_thorium3 .image:after,
#reactor .tile.part_thorium3:after {
	background-image: url("../img/cell_3_4.gif");
}

/* seaborgium */
#parts .part.part_seaborgium1 .image:after,
#reactor .tile.part_seaborgium1:after,
#upgrades .seaborgium .image:after {
	background-image: url("../img/cell_4_1.gif");
}

#parts .part.part_seaborgium2 .image:after,
#reactor .tile.part_seaborgium2:after {
	background-image: url("../img/cell_4_2.gif");
}

#parts .part.part_seaborgium3 .image:after,
#reactor .tile.part_seaborgium3:after {
	background-image: url("../img/cell_4_4.gif");
}

/* dolorium */
#parts .part.part_dolorium1 .image:after,
#reactor .tile.part_dolorium1:after,
#upgrades .dolorium .image:after {
	background-image: url("../img/cell_5_1.gif");
}

#parts .part.part_dolorium2 .image:after,
#reactor .tile.part_dolorium2:after {
	background-image: url("../img/cell_5_2.gif");
}

#parts .part.part_dolorium3 .image:after,
#reactor .tile.part_dolorium3:after {
	background-image: url("../img/cell_5_4.gif");
}

/* nefastium */
#parts .part.part_nefastium1 .image:after,
#reactor .tile.part_nefastium1:after,
#upgrades .nefastium .image:after {
	background-image: url("../img/cell_6_1.gif");
}

#parts .part.part_nefastium2 .image:after,
#reactor .tile.part_nefastium2:after {
	background-image: url("../img/cell_6_2.gif");
}

#parts .part.part_nefastium3 .image:after,
#reactor .tile.part_nefastium3:after {
	background-image: url("../img/cell_6_4.gif");
}

/* protium */
#parts_section .part.part_protium1 .image:after,
#reactor .tile.part_protium1:after,
#upgrades .protium .image:after {
	background-image: url("../img/xcell_1_1.gif");
}

#parts_section .part.part_protium2 .image:after,
#reactor .tile.part_protium2:after {
	background-image: url("../img/xcell_1_2.gif");
}

#parts_section .part.part_protium3 .image:after,
#reactor .tile.part_protium3:after {
	background-image: url("../img/xcell_1_4.gif");
}

  /* //////////////////////////
 // Reflectors
////////////////////////// */

#improved_neutron_reflection .image:after,
#improved_reflector_density .image:after,
#perpetual_reflectors .image:after,
#parts .part.part_reflector1 .image:after,
#reactor .tile.part_reflector1:after {
	background-image: url("../img/reflector_1.gif");
}

#parts .part.part_reflector2 .image:after,
#reactor .tile.part_reflector2:after {
	background-image: url("../img/reflector_2.gif");
}

#parts .part.part_reflector3 .image:after,
#reactor .tile.part_reflector3:after {
	background-image: url("../img/reflector_3.gif");
}

#parts .part.part_reflector4 .image:after,
#reactor .tile.part_reflector4:after {
	background-image: url("../img/reflector_4.gif");
}

#parts .part.part_reflector5 .image:after,
#reactor .tile.part_reflector5:after {
	background-image: url("../img/reflector_5.gif");
}

  /* //////////////////////////
 // Capacitors
////////////////////////// */

#parts .part.part_capacitor1 .image:after,
#reactor .tile.part_capacitor1:after,
#perpetual_capacitors .image:after,
#active_venting .image:after,
#active_exchangers .image:after,
#improved_power_lines .image:after,
#improved_wiring .image:after {
	background-image: url("../img/capacitor_1.gif");
}

#parts .part.part_capacitor2 .image:after,
#reactor .tile.part_capacitor2:after{
	background-image: url("../img/capacitor_2.gif");
}

#parts .part.part_capacitor3 .image:after,
#reactor .tile.part_capacitor3:after{
	background-image: url("../img/capacitor_3.gif");
}

#parts .part.part_capacitor4 .image:after,
#reactor .tile.part_capacitor4:after{
	background-image: url("../img/capacitor_4.gif");
}

#parts .part.part_capacitor5 .image:after,
#reactor .tile.part_capacitor5:after{
	background-image: url("../img/capacitor_5.gif");
}

  /* //////////////////////////
 // Cooling
////////////////////////// */

/* Vents */
#parts .part.part_vent1 .image:after,
#reactor .tile.part_vent1:after,
#improved_heat_vents .image:after {
	background-image: url("../img/vent_1.gif");
}

#parts .part.part_vent2 .image:after,
#reactor .tile.part_vent2:after {
	background-image: url("../img/vent_2.gif");
}

#parts .part.part_vent3 .image:after,
#reactor .tile.part_vent3:after {
	background-image: url("../img/vent_3.gif");
}

#parts .part.part_vent4 .image:after,
#reactor .tile.part_vent4:after {
	background-image: url("../img/vent_4.gif");
}

#parts .part.part_vent5 .image:after,
#reactor .tile.part_vent5:after {
	background-image: url("../img/vent_5.gif");
}

/* Heat Exchangers */
#parts .part.part_heat_exchanger1 .image:after,
#reactor .tile.part_heat_exchanger1:after,
#improved_heat_exchangers .image:after {
	background-image: url("../img/exchanger_1.gif");
}

#parts .part.part_heat_exchanger2 .image:after,
#reactor .tile.part_heat_exchanger2:after {
	background-image: url("../img/exchanger_2.gif");
}

#parts .part.part_heat_exchanger3 .image:after,
#reactor .tile.part_heat_exchanger3:after {
	background-image: url("../img/exchanger_3.gif");
}

#parts .part.part_heat_exchanger4 .image:after,
#reactor .tile.part_heat_exchanger4:after {
	background-image: url("../img/exchanger_4.gif");
}

#parts .part.part_heat_exchanger5 .image:after,
#reactor .tile.part_heat_exchanger5:after {
	background-image: url("../img/exchanger_5.gif");
}

/* Heat Inlets */
#parts .part.part_heat_inlet1 .image:after,
#reactor .tile.part_heat_inlet1:after {
	background-image: url("../img/inlet_1.gif");
}

#parts .part.part_heat_inlet2 .image:after,
#reactor .tile.part_heat_inlet2:after {
	background-image: url("../img/inlet_2.gif");
}

#parts .part.part_heat_inlet3 .image:after,
#reactor .tile.part_heat_inlet3:after {
	background-image: url("../img/inlet_3.gif");
}

#parts .part.part_heat_inlet4 .image:after,
#reactor .tile.part_heat_inlet4:after {
	background-image: url("../img/inlet_4.gif");
}

#parts .part.part_heat_inlet5 .image:after,
#reactor .tile.part_heat_inlet5:after {
	background-image: url("../img/inlet_5.gif");
}

/* Heat Outlets */
#parts .part.part_heat_outlet1 .image:after,
#reactor .tile.part_heat_outlet1:after {
	background-image: url("../img/outlet_1.gif");
}

#parts .part.part_heat_outlet2 .image:after,
#reactor .tile.part_heat_outlet2:after {
	background-image: url("../img/outlet_2.gif");
}

#parts .part.part_heat_outlet3 .image:after,
#reactor .tile.part_heat_outlet3:after {
	background-image: url("../img/outlet_3.gif");
}

#parts .part.part_heat_outlet4 .image:after,
#reactor .tile.part_heat_outlet4:after {
	background-image: url("../img/outlet_4.gif");
}

#parts .part.part_heat_outlet5 .image:after,
#reactor .tile.part_heat_outlet5:after {
	background-image: url("../img/outlet_5.gif");
}

/* Coolant Cells */
#improved_coolant_cells .image:after,
#parts .part.part_coolant_cell1 .image:after,
#reactor .tile.part_coolant_cell1:after {
	background-image: url("../img/coolant_1.gif");
}

#parts .part.part_coolant_cell2 .image:after,
#reactor .tile.part_coolant_cell2:after {
	background-image: url("../img/coolant_2.gif");
}

#parts .part.part_coolant_cell3 .image:after,
#reactor .tile.part_coolant_cell3:after {
	background-image: url("../img/coolant_3.gif");
}

#parts .part.part_coolant_cell4 .image:after,
#reactor .tile.part_coolant_cell4:after {
	background-image: url("../img/coolant_4.gif");
}

#parts .part.part_coolant_cell5 .image:after,
#reactor .tile.part_coolant_cell5:after {
	background-image: url("../img/coolant_5.gif");
}

/* Platings */
#parts .part.part_reactor_plating1 .image:after,
#reactor .tile.part_reactor_plating1:after,
#improved_heatsinks .image:after,
#reinforced_heat_exchangers .image:after,
#upgrades #improved_piping .image:after,
#upgrades #improved_alloys .image:after {
	background-image: url("../img/plating_1.gif");
}

#parts .part.part_reactor_plating2 .image:after,
#reactor .tile.part_reactor_plating2:after {
	background-image: url("../img/plating_2.gif");
}

#parts .part.part_reactor_plating3 .image:after,
#reactor .tile.part_reactor_plating3:after {
	background-image: url("../img/plating_3.gif");
}

#parts .part.part_reactor_plating4 .image:after,
#reactor .tile.part_reactor_plating4:after {
	background-image: url("../img/plating_4.gif");
}

#parts .part.part_reactor_plating5 .image:after,
#reactor .tile.part_reactor_plating5:after {
	background-image: url("../img/plating_5.gif");
}


  /* //////////////////////////
 // Upgrades
////////////////////////// */

#upgrades .upgrade {
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
	font-size: inherit;
	vertical-align: top;
}

#upgrades .upgrade .description {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
}

#upgrades .image:before {
	top: auto;
	bottom: 0;
}

#upgrades .image:after {
	left: 50%;
	margin-left: -16px;
	top: 50%;
	margin-top: -16px;
}

/* Time */
#improved_reflector_density .image:before,
#upgrades .cell_tick .image:before {
	background-image: url("../img/status_time.gif");
	z-index: 2;
}

/* Plus */
#improved_heat_exchangers .image:before,
#improved_heat_vents .image:before,
#improved_coolant_cells .image:before,
#forceful_fusion .image:before,
#improved_wiring .image:before,
#improved_alloys .image:before {
	background-image: url("../img/status_plus.gif");
	z-index: 2;
}

/* Bolt */
#improved_neutron_reflection .image:before,
#improved_power_lines .image:before,
#improved_piping .image:before,
#upgrades .cell_power .image:before {
	background-image: url("../img/status_bolt.gif");
	z-index: 2;
}

/* Infinity */
#perpetual_capacitors .image:before,
#perpetual_reflectors .image:before,
#upgrades .cell_perpetual .image:before {
	background-image: url("../img/status_infinity.gif");
	z-index: 2;
}

#upgrades .upgrade .levels {
	position: absolute;
	z-index: 3;
	text-indent: 0;
	right: 2px;
	bottom: 2px;
	color: #fff;
	font-size: 14px;
	text-shadow:
		1px 0 0 rgba(0, 0, 0, 1),
		0 1px 0 rgba(0, 0, 0, 1),
		-1px 0 0 rgba(0, 0, 0, 1),
		0 -1px 0 rgba(0, 0, 0, 1),
		1px 1px 0 rgba(0, 0, 0, 1),
		-1px -1px 0 rgba(0, 0, 0, 1),
		1px -1px 0 rgba(0, 0, 0, 1),
		-1px 1px 0 rgba(0, 0, 0, 1)
		;
}

/*#upgrades .upgrade .image:before {
	position: absolute;
	top: 4px;
	left: 4px;
	content: " ";
	background: url("../img/sprites.png") left top no-repeat;
	width: 32px;
	height: 32px;
}*/

#chronometer.upgrade .image:after {
	background-image: url("../img/upgrade_flux.gif");
}

#heat_control_operator.upgrade .image:after {
	background-image: url("../img/upgrade_computer.gif");
}

#upgrades .unaffordable .image {
	opacity: .5;
}

  /* //////////////////////////
 // Tooltips
////////////////////////// */

#tooltip {
	display: none;
	text-align: center;
	position: relative;
	height: 100%;
	padding: 0 4em;
}

#tooltip_name {
	margin-bottom: .5em;
}

#tooltip_description {
	margin-bottom: .5em;
}

#tooltip_cost:before {
	content: "Cost: ";
}

#main.tooltip_showing #tooltip {
	display: block;
}

#main.tooltip_showing #nav {
	display: none;
}

#tooltip_cost {
	position: absolute;
	left: 0;
	bottom: 0;
}

  /* //////////////////////////
 // Debug
////////////////////////// */
#reactor .heat {
	color: red;
	pointer-events: none;
	font-size: 9px;
	position: absolute;
	left: 0;
	bottom: 0;
	text-indent: 0;
	z-index: 2;
}

#reactor .power {
	color: green;
	pointer-events: none;
	font-size: 9px;
	position: absolute;
	right: 0;
	bottom: 0;
	text-indent: 0;
	z-index: 2;
}

.debug #reactor .tile {
	font-size: 1px;
}

  /* //////////////////////////
 // UI
////////////////////////// */
#main:before {
	content: " ";
	border: 10px solid #eee;
	border-image: url("../img/connector_border.png") 10 10 stretch;
	background-color: #30424b;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-clip: padding-box;
	z-index: -1;
}

#main .panel_holder:first-child .panel:first-child {
	border: 12px solid #eee;
	border-image: url("../img/panel_border_first_first.png") 12 12 stretch;
	background-color: #43576d;
	margin: 0 3px 0 0;
	padding: 6px 0 2px 6px;
	flex: 1;
}

#main .panel_holder:first-child .panel:last-child {
	border: 12px solid #eee;
	border-image: url("../img/panel_border_first_last.png") 12 12 stretch;
	background-color: #43576d;
	margin: 4px 3px 0 0;
	padding: 2px 0 6px 6px;
	flex: 1;
}

#main .panel_holder:last-child .panel:first-child {
	border: 12px solid #eee;
	border-image: url("../img/panel_border_last_first.png") 12 12 stretch;
	background-color: #43576d;
	margin: 0 0 4px 0;
	padding: 6px 4px 2px 2px;
}

#main .panel_holder:last-child .panel:last-child {
	border: 12px solid #eee;
	border-image: url("../img/panel_border_last_last.png") 12 12 stretch;
	background-color: #43576d;
	padding: 0 6px 6px 2px;
	margin: 0;
	flex: 1;
}

#main .subpanel {
	border: 6px solid #eee;
	border-image: url("../img/inner_border.png") 6 6 stretch;
	background-clip: padding-box;
}

#parts_nav {
	border: 8px solid #eee;
	border-image: url("../img/inner_border_alt.png") 8 8 stretch;
	background-color: #7181a8;
	background-clip: padding-box;
	margin-bottom: 4px;
}