@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#parts,
#reactor {
	display: table;
}

#parts .part,
#reactor .tile {
	padding: 0;
	border: none;
	box-shadow: none;
	-webkit-appearance: none;
	height: 32px;
	width: 32px;
	float: left;
	position: relative;
	overflow: hidden;
}

#parts .part {
	background: transparent;
}


#reactor .tile {
	border: 2px solid #4b5167;
}

#parts .part.active {
	outline: 2px dashed blue;
	outline-offset: -2px;
}

#parts .part:after,
#reactor .tile:after {
	font-size: 32px;
	height: 1em;
	width: 1em;
	content: " ";
	position: absolute;
	top: -2px;
	left: -2px;
	display: block;
	background: url("../img/sprites.png") left top no-repeat;
}

#parts .part:after {
	top: 0;
	left: 0;
}


#reactor .tile:after {
}

#reactor .tile.spent:after {
	background-color: #000;
}

/* Uranium */
#parts .part.part_uranium:after,
#reactor .tile.part_uranium:after {
	background-position: 0 0;
}

#parts .part.part_uranium2:after,
#reactor .tile.part_uranium2:after {
	background-position: -32px 0;
}

#parts .part.part_uranium3:after,
#reactor .tile.part_uranium3:after {
	background-position: -64px 0;
}

/* Plutonium */
#parts .part.part_plutonium:after,
#reactor .tile.part_plutonium:after {
}

#parts .part.part_plutonium2:after,
#reactor .tile.part_plutonium2:after {
}

#parts .part.part_plutonium3:after,
#reactor .tile.part_plutonium3:after {
}

/* Thorium */
#parts .part.part_thorium:after,
#reactor .tile.part_thorium:after {
}

#parts .part.part_thorium2:after,
#reactor .tile.part_thorium2:after {
}

#parts .part.part_thorium3:after,
#reactor .tile.part_thorium3:after {
}

#reactor .heat {
	color: red;
	pointer-events: none;
}

#reactor .power {
	color: green;
	pointer-events: none;
}