@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: sans-serif, Arial;
	font-size: 16px;
}

button {
	padding: 0;
	border: none;
	box-shadow: none;
	-webkit-appearance: none;
}

#main {
	display: flex;
	position: relative;
}

#secondary {
	width: 160px;
}

#primary {
	width: 608px;
}

#parts,
#parts > menu,
#parts > menu > menu,
#reactor {
	display: table;
}

#parts .part .image,
#upgrades .image,
#reactor .tile {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 64px;
	vertical-align: top;
}

#parts .part .image,
#reactor .tile {
	height: 32px;
	width: 32px;
}

#upgrades .image {
	height: 100%;
	width: 100%;
}


#parts .part {
	background: transparent;
}

#parts .part.unaffordable .image {
	opacity: .5;
}

#parts .part.active {
	outline: 2em dashed blue;
	outline-offset: -2em;
}

#parts .part .image:after,
#upgrades .image:before,
#upgrades .image:after,
#reactor .tile:after {
	height: 32px;
	width: 32px;
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: url("../img/sprites.png") left top no-repeat;
}

#parts .part:after {
	top: 0;
	left: 0;
}

  /* //////////////////////////
 // Reactor
////////////////////////// */

#reactor .tile {
	background: url("../img/sprites.png") -160px top no-repeat;
}

#reactor .tile.disabled:after {
	opacity: .5;
}

#reactor .percent_wrapper_wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 2;
}

#reactor .category_reflector .percent_wrapper,
#reactor .category_vent .percent_wrapper,
#reactor .category_cell .percent_wrapper {
	border: 1px solid black;
	background: black;
	position: absolute;
	bottom: 1px;
	left: 1px;
	right: 1px;
}

#reactor .category_reflector .percent,
#reactor .category_vent .percent,
#reactor .category_cell .percent {
	text-indent: 64px;
	white-space: nowrap;
	height: 2px;
}

#reactor .category_reflector .percent,
#reactor .category_cell .percent {
	background: #0f0;
	width: 100%;
}

#reactor .category_vent .percent {
	background: #f00;
	width: 0;
}

@keyframes explosion {
  0%   { background: url('../img/sprites.png') 0 -512px no-repeat; } 
  100% { background: url('../img/sprites.png') -192px -512px no-repeat; }
}

#reactor .tile.exploding:after {
  background: url('../img/sprites.png') -192px -512px no-repeat;
  animation: explosion .6s steps(6);
}

  /* //////////////////////////
 // Navs
////////////////////////// */

#nav button {
	border: 2px solid #999;
	padding: .25em 1em;
	margin-right: .25em;
}

  /* //////////////////////////
 // Cells
////////////////////////// */

#cells {
	max-width: 10em;
}

#cells .part {
	margin-right: 32px;
}

.part .description {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
}

#cells .part:nth-child(3n) {
	margin-right: 0;
}

/* uranium */
#parts .part.part_uranium1 .image:after,
#reactor .tile.part_uranium1:after,
#upgrades .uranium .image:after,
#forceful_fusion .image:after {
	background-position: 0 -32px;
}

#reactor .tile.spent.part_uranium1:after {
	background-position: -96px -32px;
}

#parts .part.part_uranium2 .image:after,
#reactor .tile.part_uranium2:after {
	background-position: -32px -32px;
}

#reactor .tile.part_uranium2.spent:after {
	background-position: -128px -32px;
}

#parts .part.part_uranium3 .image:after,
#reactor .tile.part_uranium3:after {
	background-position: -64px -32px;
}

#reactor .tile.part_uranium3.spent:after {
	background-position: -160px -32px;
}

/* plutonium */
#parts .part.part_plutonium1 .image:after,
#reactor .tile.part_plutonium1:after,
#upgrades .plutonium .image:after {
	background-position: 0 -64px;
}

#parts .part.part_plutonium2 .image:after,
#reactor .tile.part_plutonium2:after {
	background-position: -32px -64px;
}

#parts .part.part_plutonium3 .image:after,
#reactor .tile.part_plutonium3:after {
	background-position: -64px -64px;
}

/* thorium */
#parts .part.part_thorium1 .image:after,
#reactor .tile.part_thorium1:after,
#upgrades .thorium .image:after {
	background-position: 0 -96px;
}

#parts .part.part_thorium2 .image:after,
#reactor .tile.part_thorium2:after {
	background-position: -32px -96px;
}

#parts .part.part_thorium3 .image:after,
#reactor .tile.part_thorium3:after {
	background-position: -64px -96px;
}

/* seaborgium */
#parts .part.part_seaborgium1 .image:after,
#reactor .tile.part_seaborgium1:after,
#upgrades .seaborgium .image:after {
	background-position: 0 -128px;
}

#parts .part.part_seaborgium2 .image:after,
#reactor .tile.part_seaborgium2:after {
	background-position: -32px -128px;
}

#parts .part.part_seaborgium3 .image:after,
#reactor .tile.part_seaborgium3:after {
	background-position: -64px -128px;
}

/* dolorium */
#parts .part.part_dolorium1 .image:after,
#reactor .tile.part_dolorium1:after,
#upgrades .dolorium .image:after {
	background-position: 0 -160px;
}

#parts .part.part_dolorium2 .image:after,
#reactor .tile.part_dolorium2:after {
	background-position: -32px -160px;
}

#parts .part.part_dolorium3 .image:after,
#reactor .tile.part_dolorium3:after {
	background-position: -64px -160px;
}

/* nefastium */
#parts .part.part_nefastium1 .image:after,
#reactor .tile.part_nefastium1:after,
#upgrades .nefastium .image:after {
	background-position: 0 -192px;
}

#parts .part.part_nefastium2 .image:after,
#reactor .tile.part_nefastium2:after {
	background-position: -32px -192px;
}

#parts .part.part_nefastium3 .image:after,
#reactor .tile.part_nefastium3:after {
	background-position: -64px -192px;
}

  /* //////////////////////////
 // Reflectors
////////////////////////// */

#improved_neutron_reflection .image:after,
#improved_reflector_density .image:after,
#perpetual_reflectors .image:after,
#parts .part.part_reflector1 .image:after,
#reactor .tile.part_reflector1:after {
	background-position: 0 -224px;
}

#parts .part.part_reflector2 .image:after,
#reactor .tile.part_reflector2:after {
	background-position: -32px -224px;
}

#parts .part.part_reflector3 .image:after,
#reactor .tile.part_reflector3:after {
	background-position: -64px -224px;
}

#parts .part.part_reflector4 .image:after,
#reactor .tile.part_reflector4:after {
	background-position: -96px -224px;
}

#parts .part.part_reflector5 .image:after,
#reactor .tile.part_reflector5:after {
	background-position: -128px -224px;
}

  /* //////////////////////////
 // Capacitors
////////////////////////// */

#parts .part.part_capacitor1 .image:after,
#reactor .tile.part_capacitor1:after,
#perpetual_capacitors .image:after,
#active_venting .image:after,
#active_exchangers .image:after,
#improved_power_lines .image:after,
#improved_wiring .image:after {
	background-position: 0 -256px;
}

#parts .part.part_capacitor2 .image:after,
#reactor .tile.part_capacitor2:after{
	background-position: -32px -256px;
}

#parts .part.part_capacitor3 .image:after,
#reactor .tile.part_capacitor3:after{
	background-position: -64px -256px;
}

#parts .part.part_capacitor4 .image:after,
#reactor .tile.part_capacitor4:after{
	background-position: -96px -256px;
}

#parts .part.part_capacitor5 .image:after,
#reactor .tile.part_capacitor5:after{
	background-position: -128px -256px;
}

  /* //////////////////////////
 // Cooling
////////////////////////// */

/* Vents */
#parts .part.part_vent1 .image:after,
#reactor .tile.part_vent1:after,
#improved_heat_vents .image:after {
	background-position: 0 -288px;
}

#parts .part.part_vent2 .image:after,
#reactor .tile.part_vent2:after {
	background-position: -32px -288px;
}

#parts .part.part_vent3 .image:after,
#reactor .tile.part_vent3:after {
	background-position: -64px -288px;
}

#parts .part.part_vent4 .image:after,
#reactor .tile.part_vent4:after {
	background-position: -96px -288px;
}

#parts .part.part_vent5 .image:after,
#reactor .tile.part_vent5:after {
	background-position: -128px -288px;
}

/* Heat Exchangers */
#parts .part.part_heat_exchanger1 .image:after,
#reactor .tile.part_heat_exchanger1:after,
#improved_heat_exchangers .image:after {
	background-position: 0 -320px;
}

#parts .part.part_heat_exchanger2 .image:after,
#reactor .tile.part_heat_exchanger2:after {
	background-position: -32px -320px;
}

#parts .part.part_heat_exchanger3 .image:after,
#reactor .tile.part_heat_exchanger3:after {
	background-position: -64px -320px;
}

#parts .part.part_heat_exchanger4 .image:after,
#reactor .tile.part_heat_exchanger4:after {
	background-position: -96px -320px;
}

#parts .part.part_heat_exchanger5 .image:after,
#reactor .tile.part_heat_exchanger5:after {
	background-position: -128px -320px;
}

/* Heat Inlets */
#parts .part.part_heat_inlet1 .image:after,
#reactor .tile.part_heat_inlet1:after {
	background-position: 0 -352px;
}

#parts .part.part_heat_inlet2 .image:after,
#reactor .tile.part_heat_inlet2:after {
	background-position: -32px -352px;
}

#parts .part.part_heat_inlet3 .image:after,
#reactor .tile.part_heat_inlet3:after {
	background-position: -64px -352px;
}

#parts .part.part_heat_inlet4 .image:after,
#reactor .tile.part_heat_inlet4:after {
	background-position: -96px -352px;
}

#parts .part.part_heat_inlet5 .image:after,
#reactor .tile.part_heat_inlet5:after {
	background-position: -128px -352px;
}

/* Heat Outlets */
#parts .part.part_heat_outlet1 .image:after,
#reactor .tile.part_heat_outlet1:after {
	background-position: 0 -384px;
}

#parts .part.part_heat_outlet2 .image:after,
#reactor .tile.part_heat_outlet2:after {
	background-position: -32px -384px;
}

#parts .part.part_heat_outlet3 .image:after,
#reactor .tile.part_heat_outlet3:after {
	background-position: -64px -384px;
}

#parts .part.part_heat_outlet4 .image:after,
#reactor .tile.part_heat_outlet4:after {
	background-position: -96px -384px;
}

#parts .part.part_heat_outlet5 .image:after,
#reactor .tile.part_heat_outlet5:after {
	background-position: -128px -384px;
}

/* Coolant Cells */
#improved_coolant_cells .image:after,
#parts .part.part_coolant_cell1 .image:after,
#reactor .tile.part_coolant_cell1:after {
	background-position: 0 -416px;
}

#parts .part.part_coolant_cell2 .image:after,
#reactor .tile.part_coolant_cell2:after {
	background-position: -32px -416px;
}

#parts .part.part_coolant_cell3 .image:after,
#reactor .tile.part_coolant_cell3:after {
	background-position: -64px -416px;
}

#parts .part.part_coolant_cell4 .image:after,
#reactor .tile.part_coolant_cell4:after {
	background-position: -96px -416px;
}

#parts .part.part_coolant_cell5 .image:after,
#reactor .tile.part_coolant_cell5:after {
	background-position: -128px -416px;
}

/* Platings */
#parts .part.part_plating .image:after,
#reactor .tile.part_plating:after,
#improved_heatsinks .image:after,
#reinforced_heat_exchangers .image:after,
#upgrades #improved_piping .image:after,
#upgrades #improved_alloys .image:after {
	background-position: 0 -448px;
}

#parts .part.part_plating2 .image:after,
#reactor .tile.part_plating2:after {
	background-position: -32px -416px;
}

#parts .part.part_plating3 .image:after,
#reactor .tile.part_plating3:after {
	background-position: -64px -416px;
}

#parts .part.part_plating4 .image:after,
#reactor .tile.part_plating4:after {
	background-position: -96px -416px;
}

#parts .part.part_plating5 .image:after,
#reactor .tile.part_plating5:after {
	background-position: -128px -416px;
}


  /* //////////////////////////
 // Upgrades
////////////////////////// */

#upgrades .upgrade {
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
	font-size: inherit;
	vertical-align: top;
}

#upgrades .upgrade .description {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
}

#upgrades .image:before {
	top: auto;
	bottom: 0;
}

#upgrades .image:after {
	left: 50%;
	margin-left: -16px;
	top: 50%;
	margin-top: -16px;
}

/* Time */
#improved_reflector_density .image:before,
#upgrades .cell_tick .image:before {
	background-position: -32px 0;
	z-index: 2;
}

/* Plus */
#improved_heat_exchangers .image:before,
#improved_heat_vents .image:before,
#improved_coolant_cells .image:before,
#forceful_fusion .image:before,
#improved_wiring .image:before,
#improved_alloys .image:before {
	background-position: -128px 0;
	z-index: 2;
}

/* Bolt */
#improved_neutron_reflection .image:before,
#improved_power_lines .image:before,
#improved_piping .image:before,
#upgrades .cell_power .image:before {
	background-position: -64px 0;
	z-index: 2;
}

/* Infinity */
#perpetual_capacitors .image:before,
#perpetual_reflectors .image:before,
#upgrades .cell_perpetual .image:before {
	background-position: -96px 0;
	z-index: 2;
}

#upgrades .upgrade .levels {
	position: absolute;
	z-index: 3;
	text-indent: 0;
	right: 2px;
	bottom: 2px;
	color: #fff;
	font-size: 14px;
	text-shadow:
		1px 0 0 rgba(0, 0, 0, 1),
		0 1px 0 rgba(0, 0, 0, 1),
		-1px 0 0 rgba(0, 0, 0, 1),
		0 -1px 0 rgba(0, 0, 0, 1),
		1px 1px 0 rgba(0, 0, 0, 1),
		-1px -1px 0 rgba(0, 0, 0, 1),
		1px -1px 0 rgba(0, 0, 0, 1),
		-1px 1px 0 rgba(0, 0, 0, 1)
		;
}

/*#upgrades .upgrade .image:before {
	position: absolute;
	top: 4px;
	left: 4px;
	content: " ";
	background: url("../img/sprites.png") left top no-repeat;
	width: 32px;
	height: 32px;
}*/

#chronometer.upgrade .image:after {
	background-position: 0 -480px;
}

#upgrades .unaffordable .image {
	opacity: .5;
}

  /* //////////////////////////
 // States
////////////////////////// */

#main :hover > .info {
	width: 608px;
	clip: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
	background: #fff;
	font-size: 16px;
}

  /* //////////////////////////
 // Debug
////////////////////////// */
#reactor .heat {
	color: red;
	pointer-events: none;
	font-size: 9px;
	position: absolute;
	left: 0;
	bottom: 0;
	text-indent: 0;
	z-index: 2;
}

#reactor .power {
	color: green;
	pointer-events: none;
	font-size: 9px;
	position: absolute;
	right: 0;
	bottom: 0;
	text-indent: 0;
	z-index: 2;
}

.debug #reactor .tile {
	font-size: 1px;
}
